
            table{
                border-collapse: separate;
                border: black 2px solid;
            }
            th {
                height: 80px;
                border: 2px solid #000000;
                color: #FFFFFF;
                background-color: #08088A;    
            }
            td {
                border: 2px solid #000000;
                background-color: gainsboro;
                width: 5%;
            }
            #des{
                padding: 8px;
                width: 30%;
            }
            .registro{
                text-align: center;
            }
            
            #enlaces{
                display: flex;
            }
            .enlace{
                 
                margin: 0 auto;
                margin-bottom: 50px;
                width: 15%;
                height: 30px;
                padding: 10px 20px 5px 20px;
                background-image: -webkit-linear-gradient(top, #cc2626, #ff6867);
                background-image: -moz-linear-gradient(top, #cc2626, #ff6867);
                background-image: -ms-linear-gradient(top, #cc2626, #ff6867);
                background-image: -o-linear-gradient(top, #cc2626, #ff6867);
                background-image: linear-gradient(to bottom, #cc2626, #ff6867);
                -webkit-border-radius: 12;
                -moz-border-radius: 12;
                border-radius: 12px;
            }
            .dirigir{
                text-align: center;
                padding: 10px 20px 5px 20px;
            }
            #peticion{
                margin-left: 150px;
            }
            body{
                background-color: #99ccff;
            }
        
